
:root {
    /* Font Family */
    --primary_font: 'Poppins', sans-serif;
    /* Color */
    --primary_color: #333333;
    --secondary_color: #F9F7F7;
    --accent_color: #8457CF;
}

/* Call To Action Start */
.d2c_c2a_wrapper {
    padding: 100px 0px;
    background: var(--primary_color);
}
p {
    color: var(--secondary_color);
    font-family: var(--primary_font);
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 20px;
}
h2 {
    color: var(--secondary_color);
    font-family: var(--primary_font);
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2 span {
    color: var(--accent_color);
}
.btn {
    color: var(--secondary_color);
    font-family: var(--primary_font);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    background: var(--accent_color);
    border: 1px solid var(--accent_color);
    border-radius: 100px;
    padding: 11px 34px 10px;
    transition: all ease 0.4s;
}
.btn:hover {
    color: var(--accent_color);
    background: transparent;
    border: 1px solid var(--accent_color);
    transition: all ease 0.4s;
}
.btn:active {
    color: var(--accent_color) !important;
    background: transparent !important;
    border: 1px solid var(--accent_color) !important;
    transition: all ease 0.4s;
}
/* Call To Action End */


/* 
    Template Name: {{10+ Free Website Call To Action | Bootstrap UI Kits}}
    Template URL: {{https://designtocodes.com/product/10-free-website-call-to-action}}
    Description: {{Are you struggling to craft CTAs that capture attention and inspire action? Check out our 10+ free website Call To Action now!}}
    Author: DesignToCodes
    Author URL: https://www.designtocodes.com
    Text Domain: {{Call To Action | Bootstrap UI Kits}}
*/