
:root {
    /* Font Family */
    --primary_font: 'Open Sans', sans-serif;
    --secondary_font: 'Poppins', sans-serif;
    /* Color */
    --primary_color: #FFFFFF;
    --secondary_color: #F7921E;
    --bg_color: linear-gradient(180deg, rgba(7, 71, 96, 0.80) 0%, rgba(7, 71, 96, 0.80) 0.01%, #031C26 100%);
}

/* Call To Action Start */
.d2c_c2a_wrapper {
    padding: 100px 0px;
    background: var(--bg_color);
}
h2 {
    color: var(--primary_color);
    font-family: var(--primary_font);
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 50px;
}
.btn {
    color: var(--primary_color);
    font-family: var(--secondary_font);
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background: var(--secondary_color);
    border: 1px solid var(--secondary_color);
    border-radius: 10px;
    padding: 13px 50px 12px;
    transition: all ease 0.4s;
}
.btn:hover {
    color: var(--secondary_color);
    background: transparent;
    border: 1px solid var(--secondary_color);
    transition: all ease 0.4s;
}
.btn:active {
    color: var(--secondary_color) !important;
    background: transparent !important;
    border: 1px solid var(--secondary_color) !important;
    transition: all ease 0.4s;
}
.d2c_img_wrapper {
    width: 950px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.d2c_img_wrapper img {
    border-radius: 220px 0px 0px 220px;
    object-fit: cover;
}
/* Call To Action End */


/* 
    Template Name: {{10+ Free Website Call To Action | Bootstrap UI Kits}}
    Template URL: {{https://designtocodes.com/product/10-free-website-call-to-action}}
    Description: {{Are you struggling to craft CTAs that capture attention and inspire action? Check out our 10+ free website Call To Action now!}}
    Author: DesignToCodes
    Author URL: https://www.designtocodes.com
    Text Domain: {{Call To Action | Bootstrap UI Kits}}
*/