/* responsive */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .d2c_c2a_wrapper {
        padding: 60px 0px 0px;
    }
    h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    h2::after {
        bottom: -16px;
    }
    p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .btn {
        padding: 10px 50px 9px;
        font-size: 14px;
    }
    .d2c_c2a_wrapper img:nth-child(2) {
        top: 37px;
        left: 33px;
        opacity: 0.3;
    }
    .d2c_c2a_wrapper img:nth-child(3) {
        top: 340px;
        z-index: -1;
        opacity: 0.3;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .d2c_c2a_wrapper {
        padding: 60px 0px 0px;
    }
    h2 {
        font-size: 26px;
        margin-bottom: 30px;
    }
    h2::after {
        bottom: -16px;
    }
    p {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .btn {
        padding: 10px 50px 9px;
        font-size: 15px;
    }
    .d2c_c2a_wrapper img:nth-child(2) {
        top: 37px;
        left: 33px;
        opacity: 0.3;
    }
    .d2c_c2a_wrapper img:nth-child(3) {
        top: 93px;
        z-index: -1;
        opacity: 0.3;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    h2 {
        font-size: 36px;
        margin-bottom: 30px;
    }
    h2::after {
        bottom: -16px;
    }
    p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .btn {
        padding: 10px 50px 9px;
        font-size: 16px;
    }
    .d2c_c2a_wrapper img:nth-child(2) {
        top: 26px;
    }
    .d2c_c2a_wrapper img:nth-child(3) {
        top: 26px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px) {
    h2 {
        font-size: 42px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        padding: 11px 50px 10px;
        font-size: 18px;
    }
    .d2c_c2a_wrapper img:nth-child(2) {
        top: 40px;
    }
    .d2c_c2a_wrapper img:nth-child(3) {
        top: 30px;
    }
}



/* 
    Template Name: {{10+ Free Website Call To Action | Bootstrap UI Kits}}
    Template URL: {{https://designtocodes.com/product/10-free-website-call-to-action}}
    Description: {{Are you struggling to craft CTAs that capture attention and inspire action? Check out our 10+ free website Call To Action now!}}
    Author: DesignToCodes
    Author URL: https://www.designtocodes.com
    Text Domain: {{Call To Action | Bootstrap UI Kits}}
*/